@charset 'utf-8';
//단위변환 기본값
$device-width: 1920;
$body-font-size: 16;

// 단위변환
@function rem($px){
  $convert: $px / $body-font-size;
  @return $convert+rem;
}

@function vw($px){
  $convert: $px / $device-width * 100;
  @return $convert+vw;
}

@function vh($px){
  $convert: $px / $device-width * 100;
  @return $convert+vh;
}