.header{
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  .header-content{
    width:100%;
    max-width: $wrapper;
    margin: auto;
    display: flex;
    .gnb{
     display: flex;
     margin: auto;
      >li{
        padding-left: 80px;
        &:first-child{
          padding: 0;
        }
        >a{
          color: $fc-white;
        }
      }
    }
    >p{
      margin: auto 0;
      color: $fc-white;
    }
  }
}